<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Inicio - ITP</title>
</head>
<body id="page-top">
  <section class="logo"></section>
<!-- Navigation-->

<!-- Header-->
<header class="bg-success bg-gradient text-white">
  
  <div class="container px-5 text-center">
    <h1 class="fw-bolder">Test para la identificación de intereses vocacionales y profesionales</h1>
    <p class="lead">
      Por que tu decisión profesional es importante, en el siguiente instrumento conocerás la recomendación sobre el área vocacional con 
      afinidad para decidir sobre una carrera según tus aptitudes y habilidades adquiridas.
      Al conocer tu resultado te recomendamos acudir con tu orientador/a educativo para validar los resultados obtenidos.</p>
    <a class="btn btn-lg btn-light" routerLink="/register">¡Empieza el test!</a>
  </div>
</header>
<!-- About section-->
<section id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>¿Cómo funciona nuestro test?</h2>
        <p class="lead">Al momento de ingresar tus datos de inicio, te mandará directamente a seleccionar una de dos opciones,
            las cuales serán: "me interesa" y "no me interesa". Dependiendo tus gustos y habilidades, una vez contestado <strong><u>TODOS</u></strong>
             y cada uno de los incisos, se mostrará una pantalla con el área que se te recomienda y junto con ella algunas de las carreras
            como posibles opciones. Los resultados del área que se te proporcionan al terminar el test son lo más cercano a tu perfil afín.
        </p>
        <ul>
          
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4"><p class="m-0 text-center text-white"> Instituto Tecnológico de Puebla <br>Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
