<div class="container" style="width: 80%">
  <h1>Hola! {{ person.name }}</h1>
  <h1>Test para la identificacion de interes vocacionales y profesionales.</h1>
    <h4>INSTRUCCIONES: </h4>
    <h4>1.- Lee atentamente cada una de las actividades. </h4>
    <h4>2.- Marca solo una de las casillas de cada uno de los enunciados de las columnas "Me interesa" o "No me interesa" segun tu propia desicion.</h4>
    <h4>3.- En general no existen respuestas correctas o incorrectas; lo importante es que contestes con sinceridad y confianza para que puedas conocer mejor tus intereses vocacionales.</h4>
    <h4>4.- Asegurate de marcar <strong>TODOS</strong> y cada uno de los incisos.</h4>

  <form action="" [formGroup]="form" (ngSubmit)="print()">
    <table class="table table-bordered">
      <thead>
      <tr class="text-center">
        <th style="width: 10%">No.</th>
        <th style="width: 50%">ACTIVIDAD.</th>
        <th style="width: 20%">Me interesa.</th>
        <th style="width: 20%">No me interesa.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows | paginator:page_size:page_number">
        <td class="text-center">{{ row.id }}</td>
        <td>{{ row.activity }}</td>
        <td class="text-center">
          <input class="form-check-input" type="radio" name="{{row.id}}" formControlName="{{row.id}}" id="interested"
                 value="{{ row.area }}">
        </td>
        <td class="text-center">
          <input class="form-check-input" type="radio" name="{{row.id}}" formControlName="{{row.id}}"
                 id="notInterested" value="0">
        </td>
      </tr>
      </tbody>
    </table>
    <mat-paginator [length]="rows.length"
                   [pageSize]="page_size"
                   [pageSizeOptions]="[10, 25, 100]"
                   aria-label="Select page"
                   (page)="handlePage($event)">
    </mat-paginator>
    <div class="col-12" style="text-align: right">
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Enviar datos</button>
    </div>
  </form>

</div>

